body {
  width: 80%;
  margin: 0 auto;
}

#searchForm {
  box-sizing: border-box;
  margin: 5px auto;
}

#search {
  display: inline-block;
  width: 60%;
}

#searchBtn {
  margin: 10px;
}

#listOfBooks {
  width: 80%;
  padding: 0;
}

/*#addBook {
  float: right;
}*/

.bookDetails {
  width: 50%;
  padding: 0;
}

.bookAction {
  display: inline;
}
