body {
  width: 80%;
  margin: 0 auto;
}

#searchForm {
  box-sizing: border-box;
  width: 50%;
  margin: 5px auto;
  display: inline-block;
}

#searchInput {
  display: inline-block;
  width: 60%;
}


#listOfBooks {
  width: 80%;
  padding: 0;
}

.bookDetails {
  width: 50%;
  padding: 0;
}

.bookAction {
  display: inline;
}
